.focus-image {
    height: 45vh;
    width:45vw
}

.back-button {
    margin-top: 3%;
    background-color: transparent;
    border:none;
}

.focus-card {
    height:60vh;
    width:60vw
}

@media screen and (max-width: 1137px) {
    .intro {
      width:50%;
      margin-left:25%;
    }
    .get-random-button {
      margin-left: 42%;
    }
  }
  
  @media screen and (max-width: 1010px) {
    .get-random-button {
      width:35vw;
      margin-left: 34%;
    }
  }