.focus-image {
    height: 45vh;
    width:45vw;
    margin-bottom:15%;
}

.back-button {
    margin-top: 3%;
    background-color: transparent;
    border:none;
}

.focus-card {
    height:60vh;
    width:60vw
}

@media screen and (max-width: 912px) {
    .focus-image {
        height: 30vh;
        width:70vw
    }
    
    .focus-card {
        height:65vh;
        width:70vw
    }
  }

  @media screen and (max-width: 414px) {
    .focus-image {
        height: 23vh;
        width:70vw
    }
    
    .focus-card {
        width:75vw
    }
  }

  @media screen and (max-width: 300px) {
    .focus-image {
        height: 20vh;
        width:75vw;
        margin-bottom: 10%
    }
    .back-button {
        margin-top: 10%;
    }
    
    .focus-card {
        width:75vw
    }
  }
  
