nav {
    display:flex;
    align-items: center;
    justify-content: center;
    height:15vh;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width:100vw;
    margin-bottom: 2%;
}

h1 {
  font-size: 4vh;
}

@media screen and (max-width: 1137px) {
    .intro {
      width:50%;
      margin-left:25%;
    }
    .get-random-button {
      margin-left: 42%;
    }
  }
  
  @media screen and (max-width: 1010px) {
    .get-random-button {
      width:35vw;
      margin-left: 34%;
    }
  }